@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700;800&family=Press+Start+2P&family=Source+Code+Pro:wght@700&display=swap');

html {
  margin-right: 0;
}

body {
  overflow-x: hidden;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  background-color: yellow;
  font-family: 'Press Start 2P', cursive;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(198deg) brightness(106%) contrast(101%);
}

.filter-black {
  filter: invert(0%) sepia(0%) saturate(5%) hue-rotate(156deg) brightness(95%) contrast(103%);
}

.image-cropper {
  display: inline-block;
  position: relative;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  overflow: hidden;
}

.blink {
  animation: blink-animation 2s steps(2, start) infinite;
  -webkit-animation: blink-animation 2s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.scroll-wrapper {
  overflow: hidden;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee1 > * {
  display: inline-block;
  animation: marquee1 24s linear infinite;
}

.marquee2 > * {
  display: inline-block;
  animation: marquee2 24s linear infinite;
}

.marquee1-inv > * {
  display: inline-block;
  animation: marquee1-inv 24s linear infinite;
}

.marquee2-inv > * {
  display: inline-block;
  padding-left: 100%;
  animation: marquee2-inv 24s linear infinite;
}

@keyframes marquee1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes marquee1-inv {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes marquee2 {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes marquee2-inv {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.section {
  text-shadow: -3px 3px 0px black;
  position: relative;
  display: inline-block;
  left: 0;
  background-color: red;
  height: 50;
  width: 100%;
  font-size: 25;
  font-weight: 100;
  padding-right: 0;
  color: yellow;
}

.overlay { width: 100%; height:100%; position: absolute; }

#home-button {
  display: inline-block;
  position: relative;
  left: -8vw;
  top: 15;
  width: 35%;
  color: white;
  font-size: 1.5vw;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}
  
#home-button div {
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 0;
  width: 50%;
  background-color: red;
}

#toggle-grayscale2 {
  position: relative;
  left: 0%;
  margin-top: 50;
  width: 100%;
  color: white;
  font-size: 3vw;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  align-items: center;
}

#toggle-grayscale2 div {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 50%;
  background-color: red;
}

#contacts {
  height: 90;
  font-size: 15;
  text-align: center;
  margin-top: 50;
}
  
#contacts p {
  padding-right: 70;
}

.link-button {
  display: inline-block;
  position: relative;
  left: 0;
  width: 15%;
  color: white;
  font-size: 1.5vw;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}
  
.link-button div {
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 0;
  width: 100%;
  background-color: red;
}

.eye {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  --eye-diameter: 90;
  width: var(--eye-diameter, 90);
  height: var(--eye-diameter, 90);
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  background: white;
  animation: eye-blink 2s linear infinite;
}

.eye1 {
  margin-left: 15;
}

.eye2 {
  margin-left: 25;
}
  
.pupil {
  position: relative;
  width: 80%;
  height: 80%;
  top: 11%;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  background: black;
  animation: pupil-blink 2s linear infinite;
}
  
@keyframes eye-blink {
  0% {
    height: var(--eye-diameter, 90);
    margin-top: 0;
  }
  25% {
    height: 0;
    margin-top: calc(--eye-diameter / 2);
  }
  50% {
    height: var(--eye-diameter, 90);
    margin-top: 0;
  }
}
  
@keyframes pupil-blink {
  0% {
    height: 80%;
    top: 11%;
  }
  25% {
    height: 0;
    top: 50%;
  }
  50% {
    height: 80%;
    top: 11%;
  }
}
